$white: hsl(0, 0%, 100%);
$veryDarkViolet: hsl(278, 68%, 11%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$red: hsl(0, 100%, 66%);

.backCard {
 position: absolute;
 width: 21.5rem;
 height: 11.5rem;
 border-radius: 12px;
 top: 3rem;
 left: 50%;
 background-image: url('../images/bg-card-back.png');
 background-size: cover;
 transform: translateX(-40%);
 @include media-breakpoint-up(lg){
  position: relative;
  top: 55%;
  left: -3em;
  bottom: 16em;
  max-height: 18em;
}
}

.frontCard {
  position: absolute;
  color: $white;
  width: 21.5rem;
  height: 11.5rem;
  top: 22.5%;
  left: 48%;
  transform: translateX(-58%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 12px;
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  @include media-breakpoint-up(lg){
    position: relative;
    top: 50%;
    left: -3em;
    bottom: 16em;
    max-height: 18em;
  }
}


 .header {
   background-image: url('../images/bg-main-mobile.png');
   height: 18rem;
   background-size: cover;
   @include media-breakpoint-up(lg){
     background-image: none;
   }
 }

.headerDesktop {
  display: none;
  @include media-breakpoint-up(lg){
    display: inline;
     background-image: url("../images/bg-main-desktop.png");
     background-position: center;
     background-repeat: no-repeat;
     width: 30em;
     height: 100vh;
  }
}
.logo {
  margin: 5%;
}

#card-form {
  margin-top: 20%;
  @include media-breakpoint-up(lg){
    margin-top: 30%;
  }
}

#cardholder, #cardholderNumber {
  width: 90%;
}

#cardholderCVC {
  width: 77%;
}

.submitBtn {
  width: 82%;
  height: 50px;
  background-color: $veryDarkViolet;
  border: 1px solid $veryDarkViolet;
  color: $lightGrayishViolet;
  &:hover {
    background-color: $veryDarkViolet !important;
    border: 1px solid $veryDarkViolet !important;
    color: $lightGrayishViolet !important;
  }
  &:focus {
    background-color: $veryDarkViolet !important;
    border: 1px solid $veryDarkViolet !important;
    color: $lightGrayishViolet !important;
  }
}

.form-control {
  border: 1px solid #dedddf;
  border-radius: 5px;
  &::placeholder {
    color: hsl(278deg, 68%, 11%);
    mix-blend-mode: normal;
    opacity: 0.25;
  }
&:focus-within {
    outline: none !important;
    border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
   border-width: 1px;
   border-image-slice: 1;
   box-shadow: none;
  }
}

.form-control.error {
  border: 1px solid $red;
}


.thanks {
  margin-top: 25%;
  color: $veryDarkViolet;
  @include media-breakpoint-up(lg){
    margin-top: 35%;
  }
}

.continue {
  margin-top: 10%;
  @include media-breakpoint-up(lg){
    margin-top: 5%;
  }
}

.hidden {
  display: none;
}